/* Colors */

.primary-blue {
  background-color: #0075BE;
}

/* Header */
.site-logo {
  height: 70px;
  float: start;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

/* Pokemon Cards*/

.pokemon-card {
  height: 300px;
  width: 150px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.pokemon-card-subtitle {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.card-img {
  height: 200px;
}

/* Teams */

.type-button {
  border: none;
  padding: 0;
  margin: 3px;
  background-color: white;
}

.type-img {
  height: 50px;
  width: 50px;
}

/* Type Text */

.normal {
  background: #A8A878;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.fire {
  background: #F08030;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.water {
  background: #6890F0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.electric {
  background: #F8D030;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.grass {
  background: #78C850;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.bug {
  background: #A8B820;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.flying {
  background: #A890F0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.fighting {
  background: #C03028;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.ice {
  background: #98D8D8;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.rock {
  background: #B8A038;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.ground {
  background: #E0C068;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.poison {
  background: #A040A0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.psychic {
  background: #F85888;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.ghost {
  background: #705898;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.dragon {
  background: #7038F8;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.dark {
  background: #705848;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.steel {
  background: #B8B8D0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.fairy {
  background: #F0B6BC;
  font-variant: small-caps;
  color: white;
  width: 40%;
}