.site-logo {
  height: 70px;
}

.pokemon-card {
  height: 200px;
  width: 150px;
}

.type-button {
  height: 50px;
  width: 50px;
  border: none;
  padding: 0;
  margin: 5px;
  background-color: white;
}

.type-img {
  height: 50px;
  width: 50px;
}

.card-img {
  height: 200px;
}