.main-container {
  background-image: url('./app/assets/bg.png');
  min-height: 100vh;
  padding-bottom: 10px;
}

.fc {
  display: flex;
  justify-content: center;
}

/* Header */

.site-logo {
  height: 35px;
  float: start;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link {
  color: black !important;
}

/* Subheader */

/* Filter */

.filter-container {
  background-color: rgba(0, 0, 0, 0.2);
}

.type-btn {
  border: none;
  padding: 0;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0);
}

.type-img {
  height: 50px;
  width: 50px;
}

/* Pokemon Cards*/

.pokemon-card {
  height: 265px;
  width: 150px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
}

.pokemon-card-subtitle {
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.5);
}

.card-img {
  height: 175px;
}

.card-icon {
  cursor: pointer;
  height: 25px;
  color: white;
}
.card-icon:hover {
  transform: scale(1.1);
}

/* Move Cards */

.move-card {
  font-size: 14px;
  text-align: center;
  opacity: 0.9;
}

.stat-row {
  height: 50%;
}

.card-footer {
  font-style: italic;
}

.move-btn {
  height: 20px;
  width: 20px;
}

/* Teams */

.team-container {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
}

.team-header {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}

.team-body {
  background-color: rgba(255, 255, 255, 0.7);
}

.team-btn {
  font-size: 10px;
}

/* Detail Pages */

.pokemon-detail-container {
  border: 1px solid black;
  border-radius: 10px;
}

.pokemon-detail-body {
  border-top: 1px solid black;
}

.detail-img {
  max-width: 80%;
}

.move-selector {
  width: 50%;
}

/* Type Text */

.normal {
  background: #A8A878;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.fire {
  background: #F08030;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.water {
  background: #6890F0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.electric {
  background: #F8D030;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.grass {
  background: #78C850;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.bug {
  background: #A8B820;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.flying {
  background: #A890F0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.fighting {
  background: #C03028;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.ice {
  background: #98D8D8;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.rock {
  background: #B8A038;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.ground {
  background: #E0C068;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.poison {
  background: #A040A0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.psychic {
  background: #F85888;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.ghost {
  background: #705898;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.dragon {
  background: #7038F8;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.dark {
  background: #705848;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.steel {
  background: #B8B8D0;
  font-variant: small-caps;
  color: white;
  width: 40%;
}

.fairy {
  background: #F0B6BC;
  font-variant: small-caps;
  color: white;
  width: 40%;
}